* {

    outline: 1px solid #14839f

}

body {

    background-color: #eecea7;
}

header {

    background-color: rgb(241, 156, 72);
    text-align: center;
    font-size: 60pt;

    margin: 60px 40px 60px 40px;

    padding-top: 30px;
    padding-left: 0px;
    padding-bottom: 30px;
    padding-right: 0px;


}
nav {

    background-color: #442302;
    text-align: center;
    padding: 20px 0px;

}

a{
    color:beige;
    font-size: 36pt;
}

nav > a {

    padding: 30px;
    margin: 20px 50px;
}

<h1 {
    color: #442302;
    

    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 40px;

}

p {
color:#442302;

}

header > h1 {


    color: #886313
}