/*

* {
    outline: 1px solid #14839f
}

*/




body {

    background-color: #96d6f3;
    font-family: "komet", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {

    background-color: #020d4d;
    text-align: center;
    font-size: 30pt;

    font-family: "swashington-jf", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    color: #f5f5f5;
    letter-spacing: 0.45dvw;
    
    padding-top: 40px;
    padding-bottom: 40px;
}

img {
    width: 70%;   /* this helps to make it responsive*/
    border: 7.5px solid #020d4d;
}

main {
    text-align:center;
    padding: 0px 20% 10px 20%;
}

    p {
        color: #020d4d;
        
        padding-top: 10px;
        padding-bottom: 10px;
    }

    section#list ul { 

        text-align:left;
        list-style-type: square;
        padding-left: 140px;
        color: #020d4d;
    }



footer {
    background-color: #020d4d;
    color: #f5f5f5;
    min-height: 10px;
    text-align: center;
}

footer > p {
    color: #f5f5f5;
    padding-top: 20px;
    padding-bottom: 0px;
}

footer > a {
    color: #f5f5f5;
    padding: 10px;
}

footer > a > img {
    width: 5%;
    padding-bottom: 10px;
}